@{
    ViewData["Title"] = "Home Page";
}

@using SMD.Models.ModelsDTO;
@model Dashboard

<div class="page render" id="dashboard">
    <!-- ===== Header Section ===== -->
    <div class="header">
        <h1 class="page-title">Dashboard</h1>
        <div class="actions">
            <button data-page="addStudent" class="btn dash-btn blue">
                <a style="text-decoration:none;
color:#FFFFFF" asp-controller="Student" asp-action="Create">
                    <i class="fa-solid fa-user-group"></i>
                    <span>Add Student</span>
                </a>
            </button>
            <button data-page="addCourse" class="btn dash-btn green">
                <a style="text-decoration:none;
color:#FFFFFF" asp-controller="Course" asp-action="Create">
                <i class="fa-solid fa-book"></i>
                <span>Add Course</span>
                </a>
            </button>
        </div>
    </div>

    <!-- ===== Summary Cards Section ===== -->
    <div class="summary-cards">
        <div class="card">
            <div>
                <p>Total Students</p>
                <p>@Model.CountStudents</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-user-group"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <p>Total Courses</p>
                <p>@Model.CountCourses</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-book"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <p>Departments</p>
                <p>@Model.CountDepartments</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-building"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <p>Average GPA</p>
                <p>@Model.AvarageGPA <span class="gpa-state">
                @if (@Model.AvarageGPA != null)
                {
                    var gpaValue = Model.AvarageGPA;
                    if (gpaValue >= 3.8)
                    {
                        <span style="color:green; font-weight:bold;">A+</span>
                    }
                    else if (gpaValue >= 3.5)
                    {
                         <span style="color:limegreen; font-weight:bold;">A</span>
                    }
                    else if (gpaValue >= 3.2)
                    {
                         <span style="color:darkcyan; font-weight:bold;">B+</span>
                    }
                    else if (gpaValue >= 3.0)
                    {
                         <span style="color:teal; font-weight:bold;">B</span>
                    }
                    else if (gpaValue >= 2.8)
                    {
                         <span style="color:orange; font-weight:bold;">C+</span>
                    }
                    else if (gpaValue >= 2.5)
                    {
                         <span style="color:gold; font-weight:bold;">C</span>
                    }
                    else if (gpaValue >= 2.0)
                    {
                         <span style="color:darkorange; font-weight:bold;">D+</span>
                    }
                    else if (gpaValue >= 1.5)
                    {
                         <span style="color:red; font-weight:bold;">D</span>
                    }
                    else
                    {
                         <span style="color:gray; font-weight:bold;">F</span>
                    }
                }
                else
                {
                         <span style="color:gray; font-weight:bold;">Invalid GPA</span>
                }
                    </span>
                </p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-chart-line"></i>
            </div>
        </div>
    </div>



    <!--Some Statistics-->

    <!-- todo: add some statistics  -->
    <div class="dashboard statistics">
        <div class="card">
            <div class="card-header">
                <div class="icon-title">
                    <!-- Icon: chart-column -->
                    <i class="fa-solid fa-chart-column"></i>
                    <span>Students Distribution by Year</span>
                </div>
            </div>

            <div>
                <canvas id="pieChart" width="400" height="400"></canvas>
            </div>
        </div>

        <!-- Department Distribution -->
        <div class="card">
            <div class="card-header">
                <div class="icon-title">
                    <!-- Icon: Building -->
                    <i class="fa-regular fa-building"></i>
                    <span>Department Distribution</span>
                </div>
            </div>
            <div class="card-body">
                <!-- Each Department -->
                <div class="progress-group">
                    <div class="progress-label">
                        <span>Computer Scinse (CS)</span><span>300 students (40.0%)</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 40%"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span>Information Technology (IT) </span><span>612 students (80.0%)</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 80%"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span>Computer Science</span><span>11 students (22.0%)</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 22%"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span>Business</span><span>7 students (14.0%)</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 14%"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span>Engineering</span><span>13 students (26.0%)</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 26%"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Student Performance Distribution -->
        <div class="card">
            <div class="card-header">
                <div class="icon-title">
                    <!-- Icon: user check -->
                    <i class="fa-solid fa-user-check"></i>
                    <span>Student Performance Distribution</span>
                </div>
            </div>

            <div class="card-body">
                <!-- Each Department -->
                <div class="progress-group">
                    <div class="progress-label">
                        <span class="gray-bold">Excellent (GPA ≥ 3.7)</span><span class="c-green">2 students</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 10%; background-color: #16a34a;"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span class="gray-bold">Good (3.0 ≤ GPA < 3.7)</span><span class="c-blue">14 students</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 24%; background-color: #2563eb;"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span class="gray-bold">Average (2.0 ≤ GPA < 3.0) </span><span class="c-yellow">42 students</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 60%; background-color: #eab308;"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span class="gray-bold">Struggling (GPA < 2.0)</span><span class="c-red">7 students</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 14%; background-color: #cb2323;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Course Distribution by Year -->
        <div class="card">
            <div class="card-header">
                <div class="icon-title">
                    <!-- Icon: chart-column -->
                    <i class="fa-solid fa-chart-column"></i>
                    <span>Course Distribution by Year</span>
                </div>
            </div>
            <div class="card-body">
                <!-- Each Department -->
                <div class="progress-group">
                    <div class="progress-label">
                        <span>Year 1</span><span>7 course (14.0%)</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 80%; background-color: #14b8a6;"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span>Year 1</span><span>40 students (36.0%)</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 36%;; background-color: #3b82f6;"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span>Year 3</span><span>80 students (95.0%)</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 95%; background-color: #f59e0b;"></div>
                    </div>
                </div>

                <div class="progress-group">
                    <div class="progress-label">
                        <span>Year 4</span><span>65 students (77.0%)</span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress" style="width: 77%; background-color: #8b5cf6;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function pieChart() {
    var pieCtx = document.getElementById('pieChart').getContext('2d');
    // Create a new pie chart instance
    var pieChart = new Chart(pieCtx, {
    type: 'pie', // doughnut chart type
    data: {
    labels: ['Year 1', 'Year 2', 'Year 3', 'Year 4'], // Labels for categories
    datasets: [{
    label: 'No. of Students',
    data: [5, 1, 2, 3], // Data for the categories
    backgroundColor: ['#14b8a6', '#f59e0b', '#3b82f6', '#8b5cf6'], // Slice colors
    }]
    },
    options: {
    responsive: true,
    plugins: {
    legend: {
    position: 'top',
    },
    tooltip: {
    enabled: true
    }
    }
    }
    });
    } pieChart();
</script>